.hamburger { 
    opacity: 0.8; 
    display: none;
    font-size: 24px;
    color: rgb(255, 255, 255);
    cursor: pointer;
} 



body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

nav {
    background: #333;
    padding: 10px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    padding: 10px 20px;
}

.logo {
    color: white;
    font-weight: bold;
}

.menu a {
    transition: all 0.3s ease;
    color: white;
    margin-left: 15px;
    text-decoration: none;
}
@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        background: #444;
        position: absolute;
        top: 60px;
        right: 0;
        width: 150px;
    }

    .menu a {
        padding: 10px;
        border-bottom: 1px solid #555;
    }

    .hamburger {
        display: block;
    }

    .menu.active {
        display: flex;
    }
} 
form {
    max-width: 400px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
} 
#content {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.fade-out {
    opacity: 0;
    transform: translateY(10px);
}

@media (max-width: 768px) {

    #content {
        padding: 15px;
        font-size: 15px;
    }

    h1 {
        font-size: 22px;
    }

    nav {
        flex-wrap: wrap;
    }
}
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.card {
    background: #e0e0e0;
    padding: 15px;
    border-radius: 8px;
    transition: transform 0.2s ease;
} 

.card:hover {
    transform: scale(1.03);
     box-shadow: 0 6px 12px rgba(0,0,0,0.15);
} 
table {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 0;
    border: 3px solid #000;
    margin-top: 10px;
}

th, td {
    border: 2px solid #000;
    padding: 10px;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}


.card-small {
    width: 18rem;
}
